[*.cs]

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = silent

# SA1210: Using directives must be ordered alphabetically by namespace
dotnet_diagnostic.SA1210.severity = suggestion
